{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="task-box">
    <h2>Your Tasks</h2>
    <form id="taskForm" action="{{ url_for('tasks.add_task') }}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="New Task" required>
        <input type="date" name="due_date" placeholder="Due Date" required>
        <input type="time" name="due_time" placeholder="Due Time" required>
        <button type="submit" class="btn">Add</button>
    </form>

    {% if tasks %}
    <form method="POST" action="{{ url_for('tasks.clear_tasks') }}">
        <button type="submit" class="btn btn-clear">Clear All Tasks</button>
    </form>
    <br>

    <table class="task-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Time</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Update Status</th>
                <th>Edit Task</th>
                <th>Delete Task</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.due_time}}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <span class="badge {{task.status|lower}}">{{ task.status }}</span>
                </td>
                <td>
                    <form action="{{ url_for('tasks.toggle_status', task_id = task.id) }}" method="POST">
                        <button class="btn-small" type="submit">Next</button>
                    </form>
                </td>
                <td>
                    <a href="{{ url_for('tasks.edit_task', task_id=task.id) }}" class="edit-icon" title="Edit Task">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="goldenrod" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 
                            .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 
                            1-.65-.65l2-5a.5.5 0 0 
                            1 .11-.168l10-10zM11.207 
                            2L3 10.207V11h.793L13 
                            2.793 11.207 2zM2.5 
                            11.5V13h1.5l9.207-9.207-1.5-1.5L2.5 
                            11.5z"/>
                        </svg>
                    </a>            
                </td>
                <td>
                    <form action="{{ url_for('tasks.delete_task', task_id=task.id) }}" method="POST">
                    <button type="submit" class="trash-btn" title="Delete Task">
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 512">
                        <path fill="red" d="M135.2 17.7C140.6 7 151.5 0 163.5 0h121c12 0 22.9 7 28.3 17.7l13.6 26.3H432c8.8 0 16 7.2 16 16s-7.2 16-16 16h-16.1l-26.4 393.3c-1.7 25-22.5 45.7-47.6 45.7H106.1c-25.1 0-45.9-20.7-47.6-45.7L32.1 76H16c-8.8 0-16-7.2-16-16s7.2-16 16-16h105.7l13.5-26.3zM182.4 96c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16s16-7.2 16-16V112c0-8.8-7.2-16-16-16zm83.2 0c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16s16-7.2 16-16V112c0-8.8-7.2-16-16-16z"/>
                         </svg>
                    </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No tasks yet. Add task above!</p>
    {% endif %}
</div>



{% endblock %}